.container{
    display: flex;
    height: 100%;
    // justify-content: center;
    // align-items: center;
}

.avatar{
    &.avatar1{
        background-image: url(/assets/images/avatar-exemple.jpg);
    }
    &.avatar2{
        background-image: url(/assets/images/download.jpg);
    }
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 48px;
    width: 48px;
}

.list{
    // display: flex;
    // align-items: flex-start;
    width: 100%;
    .list-item{
        display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    border-bottom: 1px solid #ccc;
    width: 100%;
    justify-content: flex-start;
    min-height: 68px;
    padding: 0 1rem;
    &:focus{
        outline: none;
    }
    }
}